<html>
    <head>

    </head>
    <body>
        <ul>
            {% for workout in workouts %}
            <li><a href="{{ workout.get_absolute_url }}">{{ workout }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>