<html>
    <head>
        <style>
            th,td {
                outline: solid thin;
            }
        </style>
    </head>
    <body>
        <h1>{{ workout.description }} - {{ workout.person }}</h1>
        <table>
            <thead>
                <th>Start Time</th>
                <th>End Time</th>
            </thead>
            <tbody>
                <td>{{ workout.start_time }}</td>
                <td>{{ workout.end_time }}</td>
            </tbody>
        </table>
        <h2>Warmups</h2>
        <table>
            <thead>
                <tr>
                    <th>Exercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Weight</th>
                    <th>Time</th>
                    <th>Distance (miles)</th>
                    <th>Difficulty</th>
                </tr>
            </thead>
            <tbody>
                {% for exercise_type in workout.warmups %}
                {% for exercise in exercise_type %}
                <tr>
                    <td>{{ exercise.exercise.name }}</td>
                    <td>{{ exercise.sets }}</td>
                    <td>{% if exercise.reps %}{{ exercise.reps }}{% else %}&nbsp;{% endif %}</td>
                    <td>{% if exercise.weight %}{{ exercise.weight }}{% else %}&nbsp;{% endif %}</td>
                    <td>{% if exercise.time %}{{ exercise.time }}{% else %}&nbsp;{% endif %}</td>
                    <td>{% if exercise.distance_miles %}{{ exercise.distance_miles }}{% else %}&nbsp;{% endif %}</td>
                    <td>{% if exercise.difficulty %}{{ exercise.difficulty }}{% else %}&nbsp;{% endif %}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        <h2>Workout</h2>
        <table>
            <thead>
                <tr>
                    <th>Exercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Weight</th>
                    <th>Time</th>
                    <th>Difficulty</th>
                </tr>
            </thead>
            <tbody>
                {% for exercise_type in workout.workout %}
                {% for exercise in exercise_type %}
                <tr>
                    <td>{{ exercise.exercise.name }}</td>
                    <td>{{ exercise.sets }}</td>
                    <td>{% if exercise.reps %}{{ exercise.reps }}{% else %}&nbsp;{% endif %}</td>
                    <td>{% if exercise.weight %}{{ exercise.weight }}{% else %}&nbsp;{% endif %}</td>
                    <td>{% if exercise.time %}{{ exercise.time }}{% else %}&nbsp;{% endif %}</td>
                    <td>{% if exercise.difficulty %}{{ exercise.difficulty }}{% else %}&nbsp;{% endif %}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        {% for circuit_number, exercises in workout.workout_circuit %}
            <h3>Circuit {{ circuit_number }}</h3>
            <table>
                <thead>
                    <tr>
                        <th>Exercise</th>
                        <th>Sets</th>
                        <th>Reps</th>
                        <th>Weight</th>
                        <th>Time</th>
                        <th>Difficulty</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exercise in exercises %}
                    <tr>
                        <td>{{ exercise.exercise.name }}</td>
                        <td>{{ exercise.sets }}</td>
                        <td>{% if exercise.reps %}{{ exercise.reps }}{% else %}&nbsp;{% endif %}</td>
                        <td>{% if exercise.weight %}{{ exercise.weight }}{% else %}&nbsp;{% endif %}</td>
                        <td>{% if exercise.time %}{{ exercise.time }}{% else %}&nbsp;{% endif %}</td>
                        <td>{% if exercise.difficulty %}{{ exercise.difficulty }}{% else %}&nbsp;{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        <h2>Cooldown</h2>
        <table>
            <thead>
                <tr>
                    <th>Exercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Weight</th>
                    <th>Time</th>
                    <th>Difficulty</th>
                </tr>
            </thead>
            <tbody>
                {% for exercise_type in workout.cooldown %}
                {% for exercise in exercise_type %}
                <tr>
                    <td>{{ exercise.exercise.name }}</td>
                    <td>{{ exercise.sets }}</td>
                    <td>{% if exercise.reps %}{{ exercise.reps }}{% else %}&nbsp;{% endif %}</td>
                    <td>{% if exercise.weight %}{{ exercise.weight }}{% else %}&nbsp;{% endif %}</td>
                    <td>{% if exercise.time %}{{ exercise.time }}{% else %}&nbsp;{% endif %}</td>
                    <td>{% if exercise.difficulty %}{{ exercise.difficulty }}{% else %}&nbsp;{% endif %}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
